doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='AI technology & consulting company that helps businesses fast-track integration of AI capabilities, through high quality customizable products built using NLP, OCR and Document Processing techniques')
        meta(name='author', content='Team Inscripta')

        title High-quality, customizable AI & NLP products 

        // Favicon
        link(rel='icon', type='image/x-icon', href='/assets/favicon.png')

        //Font
        link(rel="preconnect" href="https://fonts.gstatic.com") 

        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap', rel='stylesheet')

        link(rel='preload' href='https://fonts.googleapis.com/css?family=Nunito Sans:300,300i,400,400i,700,700i,900,900i&display=swap' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(href='https://fonts.googleapis.com/css?family=Nunito Sans:300,300i,400,400i,700,700i,900,900i&display=swap', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/critical.css', rel='stylesheet')
        
        // Font Awesome
        link(rel='preload' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
        

        // Google Tag Manager
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5XQVFGS');
        // End Google Tag Manager


    body#page-top
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5XQVFGS' height='0' width='0' style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)


        // Navigation
        include /pug/includes/menu.pug

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold AI INTEGRATION.<br>FAST-TRACKED. 
                    .col-lg-8.align-self-baseline.mt-5
                        h3.text-white.mb-5
                            span.fw-bold.text-secondary On-prem AI Agents
                            | to 
                            span.fw-bold.text-secondary automate 
                            | data curation, question-answering, document generation and more.
                        .mt-2
                            a.btn.btn-xl.btn-secondary(href='#about') KNOW MORE


        // About
        section#about.page-section.bg-white
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-12.half-box
                        .col-lg-10
                            h5.text-primary // About Inscripta
                            h1.font-weight-bold  Your Partner for AI Transformation
                            h5.mt-4.mb-4 Inscripta is an AI technology & consulting company that helps businesses fast-track integration of AI capabilities, through high quality customizable products.
                            h5.mt-4.mb-4 Across industries, multiple companies have adopted our AI technologies to elevate their offerings and streamline workflows.
                            //.mt-5
                                a.btn.btn-secondary-outline.btn-xl(href='#products') Explore products                   
                    .col-lg-6.col-md-12
                            img.img-fluid.lazyload(data-src="/assets/img/about_inscripta_ai.png" alt="AI in action")
                 

        // Customers
        section#customers.bg-white.py-5
            // Marquee Wrapper
            .customer-marquee-wrapper.overflow-hidden.mb-4
                .customer-marquee.d-flex.align-items-center
                    each logo in ['automation_edge.png', 'excelra.png', 'ips_group.png', 'manipal_technologies_limited.png', 'spottabl.png', 'tenders_on_time.png', 'xanthus.png']
                        .logo-item.mx-4
                            img(src=`/assets/img/customers/${logo}` alt=logo style="height: 60px")
                    // Repeat the same list for seamless loop
                    each logo in ['automation_edge.png', 'excelra.png', 'ips_group.png', 'manipal_technologies_limited.png', 'spottabl.png', 'tenders_on_time.png', 'xanthus.png']
                        .logo-item.mx-4
                            img(src=`/assets/img/customers/${logo}` alt=logo style="height: 60px")



        // PRODUCTS 
        section#products.page-section.bg-light
            .container.px-4.px-lg-2
                .row.gx-4.gx-lg-5.mb-5
                    .col-lg-5.col-md-5
                        h1.font-weight-bold Inscripta's AI Products
                    .col-lg-7.col-md-7
                        h5 Our products, built using state-of-the-art Generative AI, Agentic Workflows, LLMs, Natural Language Processing (NLP), OCR and Document Processing techniques, can be customized quickly for a variety of business domains.
                //hr.divider.bg-light.mb-5 
                .row.gx-4.gx-lg-5.mt-4
                    .col-lg-4.col-md-6.col-sm-12.mb-3
                        a.text-decoration-none.text-reset(href='/products/parseqa_qabot.html')
                            .product-card-primary.bg-white
                                .mb-3.text-center
                                    img.img-product-name.lazyload(data-src="/assets/img/products/parseqa_qabot.png" alt="ParseQa QABot")
                                .product-detail
                                    | Ask questions of your knowledge base and get relevant answers quickly. 
                                    <br><br>
                                    ul.blue-bullets
                                        li No more scouring documents for keywords, locations, or specific sections
                                        li No need to know where the information resides. 
                                        li No more hallucinations: high accuracy and fidelity with respect to source documents.
                            
                    .col-lg-4.col-md-6.col-sm-12.mb-3
                        a.text-decoration-none.text-reset(href='/products/parseqa_curate.html')
                            .product-card-secondary.bg-white
                                .mb-3.text-center
                                    img.img-product-name.lazyload(data-src="/assets/img/products/parseqa_curate_title.png" alt="ParseQa CT")
                                .product-detail
                                    | Contextual data extraction & curation from a wide variety of documents.
                                    <br><br>
                                    ul.red-bullets
                                        li Verifiable and adaptive extraction.
                                        li Human-in-the-loop validation for 100% reliability.
                                        li Robust extraction of tables/images from PDFs.
                    
                    .col-lg-4.col-md-6.col-sm-12.mb-3
                        a.text-decoration-none.text-reset(href='/products/norg_ai.html')
                            .product-card-primary.bg-white
                                .mb-3.text-center
                                    img.img-product-name.lazyload(data-src="/assets/img/products/norg_ai_title.png" alt ="NorgAI title")
                                .product-detail
                                    | GenAI assistant for Professional Services (PS) teams. Automates delivery workflows for faster, more consistent go-lives outcomes.
                                    <br><br>
                                    ul.blue-bullets
                                        li Built for PS workflows - all in a single, dedicated PS workspace - no tool switching.
                                        li More reliable, relevant, and consistent outputs than GPT.
                                        li Catches critical gaps between sources and deliverables.



        // Advantages
        section#advantages.page-section.bg-white.py-5
            .container
                .adv-container
                    // Left side: Inscripta Advantage section
                    .left-space
                        .py-lg-5
                            h1.font-weight-bold.mb-5 Inscripta Advantage
                            h5.mb-5 Inscripta enables companies to focus on their core business problem, instead of getting bogged down in the intricacies of AI implementation.
                            a.btn.btn-secondary-outline.btn-xl(href='#stack') Inscripta Stack

                    // Right side: Feature Cards
                    .card-grid
                        .adv-card
                            .adv-heading.h4.font-weight-bold Customizable AI Products
                            .adv-text Our agent-driven product suite accelerates AI adoption tailored to your specific workflows, data environments, and business goals.

                        .adv-card
                            .adv-heading.h4.font-weight-bold Designed by an Experienced AI Team
                            .adv-text Our solutions are grounded in deep technical expertise and years of hands-on experience across domains at pioneering AI companies and labs.

                        .adv-card
                            .adv-heading.h4.font-weight-bold Robust in Real-World Conditions
                            .adv-text Engineered to handle noisy and diverse data, our products excel in complex, real-world scenarios where off-the-shelf tools and LLMs struggle.

                        .adv-card
                            .adv-heading.h4.font-weight-bold Powered by the Latest Research
                            .adv-text We stay ahead of the curve, constantly integrating cutting-edge advancements to ensure your solutions are impactful, efficient, and future-ready.


        // Inscripta Stack
        section#stack.page-section.bg-light
            .container.px-4.px-lg-2
                .row.gx-2.gx-lg-4
                    .col-lg-7
                        img.img-fluid.lazyload(data-src="/assets/img/parseqa_stack_new.png" alt="Inscripta Stack")
                    .col-lg-5
                        h1.font-weight-bold.mt-3.mb-4 Inscripta Technology Stack
                        h5.mb-4 State-of-the-Art Technologies. Flexible Libraries. Customizable Products.
                        .mb-3
                            a.btn.btn-secondary-outline.btn-xl(href='#blogs') Read our blogs


        // Benchmarking
        section#benchmarking.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-12.half-box
                        .col-lg-10
                            h5.text-primary // Benchmarking
                            h2.font-weight-bold ParseQa outperforms custom GPT by 50% on complex data extraction & question answering
                            ul
                                li.mt-1 Better performance even with much smaller local models.
                                li.mt-1 Flexibly point ParseQa to larger models like GPT or Gemini for a bigger boost.
                                li.mt-1 Ideal for technical manuals and scientific publications.
                    .col-lg-6.col-md-12
                        img.img-fluid.lazyload(data-src="/assets/img/benchmarking_parseqa.png" alt="Benchmarking ParseQa")
            .container.px-4.px-lg-6.mt-5
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-12
                        img.img-fluid.lazyload(data-src="/assets/img/benchmarking_multimodal.png" alt="Benchmarking Multimodal")
                    .col-lg-6.col-md-12.half-box
                        .col-lg-10
                            h5.text-primary // Benchmarking
                            h2.font-weight-bold Multimodal data performance
                            ul
                                li.mt-1 Significantly better answers from tables and diagrams.
                                li.mt-1 More reliable across the board.
                                li.mt-1 Navigate top-3 results with the UI for 100% quality assurance.
                    

        // Blog
        section#blogs.bg-primary.text-white.page-section
            .container.px-4.px-lg-5.text-center
                .col-lg-10.mx-auto.text-center
                    h1.font-weight-bold.mt-0.mb-5 BLOGS
            .container-fluid    
                #myCarousel.carousel.slide(data-bs-ride="carousel").mx-auto
                    .carousel-inner.row.mx-auto.col-lg-10
                        .carousel-item.active
                            .col-md-4
                                .image-card.mx-4
                                    a.blog-link(target='new' href='https://medium.com/inscripta/get-set-ai-fast-track-your-companys-transformation-92dd2696c96d')
                                        .card-box
                                            img.lazyload(data-src='https://miro.medium.com/max/300/1*NyC1BVNPnbQFonVkfgUNRQ.jpeg', style="width: 100%" alt="Blog image")
                                        h5.font-weight-bold.mx-3.my-4 Get Set AI: Fast-track your company&rsquo;s transformation
                        .carousel-item
                            .col-md-4
                                .image-card.mx-4
                                    a.blog-link(target='new' href='https://medium.com/inscripta/product-search-is-broken-heres-how-99e08504bdd9')
                                        .card-box
                                            img.lazyload(data-src='https://miro.medium.com/max/300/1*PCm8-X-YzQORT8mpZNxcJw.png', style="width: 100%" alt="Blog image")
                                        h5.font-weight-bold.mx-3.my-4 Product Search is Broken: Here&rsquo;s How
                        .carousel-item
                            .col-md-4
                                .image-card.mx-4
                                    a.blog-link(target='new' href='https://medium.com/inscripta/does-conversational-ai-need-a-hippocratic-oath-99d23f458ede')
                                        .card-box
                                            img.lazyload(data-src='https://miro.medium.com/max/300/1*69nhAmSOPS68-1dZp-S_Yw.jpeg', style="width: 100%" alt="Blog image")
                                        h5.font-weight-bold.mx-3.my-4 Does Conversational AI Need a Hippocratic Oath?
                        .carousel-item
                            .col-md-4
                                .image-card.mx-4
                                    a.blog-link(target='new' href='https://medium.com/inscripta/teaching-computers-how-humans-think-by-creating-questions-that-computers-cannot-answer-74adbafe48c1')
                                        .card-box
                                            img.lazyload(data-src='https://miro.medium.com/max/300/1*3mPvtGe1aOE-uCIUbrrTGQ.jpeg', style="width: 100%" alt="Blog image")
                                        h5.font-weight-bold.mx-3.my-4 Teaching computers how humans think ...
                    a.carousel-control-prev(href='#myCarousel' role='button' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#myCarousel' role='button' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

        
        
        // Team
        section#team.page-section.bg-light
            .container.px-4.px-lg-2
                .col-lg-11.mx-auto 
                    .row.mb-5
                        .col-md-3
                            h1.font-weight-bold The Team
                        .col-md-9.mx-auto
                            h5 
                                | Having worked at organizations such as IBM Research, Flipkart, VMware, Reliance, Schlumberger, multiple startups and research labs, we are equipped with deep, real-world AI expertise. 
                                | Our team consists of Masters and PhDs from top universities like IIT Bombay, CMU and University of Birmingham (UK).

            .container
                .row
                    // === Anand Ramanathan ===
                    .col-lg-4.px-3
                        .team-profile-box-new.mt-6
                            .card-inner(onmouseover="this.style.transform='rotateY(180deg)'" onmouseout="this.style.transform='rotateY(0deg)'")
                                .card-front
                                    .card-front-content
                                        img.lazyload(data-src="/assets/img/team/AR.jpg", alt="Anand's Profile Photo")
                                        h4.text-primary.font-weight-bold.mb-2 Anand Ramanathan
                                        h6.mb-2 Cofounder
                                        a(href="https://www.linkedin.com/in/anand-ramanathan/", target="_blank", rel="noopener")
                                            i.fab.fa-linkedin.fa-1_25x
                                .card-back
                                    h5 Anand Ramanathan
                                    p 
                                        | Anand has 15+ years of NLP/AI experience. He has developed AI solutions for varied domains including finance, telecom, and oil & gas, while working with organizations such as NCST, IBM Research, and Schlumberger. His work comprises machine translation systems, a smart search product for financial data analytics, an open source intelligence toolkit, a ticket analytics system, etc. Anand has a PhD in computer science from IIT Bombay.

                    // === Vivek Mehta ===
                    .col-lg-4.px-3
                        .team-profile-box-new.mt-6
                            .card-inner(onmouseover="this.style.transform='rotateY(180deg)'" onmouseout="this.style.transform='rotateY(0deg)'")
                                .card-front
                                    .card-front-content
                                        img.lazyload(data-src="/assets/img/team/VM.jpg", alt="Vivek Mehta's Profile Photo")
                                        h4.text-primary.font-weight-bold.mb-2 Vivek Mehta
                                        h6.mb-2 Cofounder
                                        a(href="https://www.linkedin.com/in/vivek-mehta/", target="_blank", rel="noopener")
                                            i.fab.fa-linkedin.fa-1_25x
                                .card-back
                                    h5 Vivek Mehta
                                    p 
                                        | Vivek has 15+ years of AI/ML experience. Before starting his entrepreneurial journey, he worked at various startups including Flipkart. He has experience in an array of problems like search and recommendations, personalization, ranking, handwriting recognition, fraud detection, online advertising, and others. Vivek holds a Master's degree from Carnegie Mellon University (US).

                    // === Vivek Nallur ===
                    .col-lg-4.px-3
                        .team-profile-box-new.mt-6
                            .card-inner(onmouseover="this.style.transform='rotateY(180deg)'" onmouseout="this.style.transform='rotateY(0deg)'")
                                .card-front
                                    .card-front-content
                                        img.lazyload(data-src="/assets/img/team/VN.jpg", alt="Vivek Nallur's Profile Photo")
                                        h4.text-primary.font-weight-bold.mb-2 Vivek Nallur
                                        h6.mb-2 Research and Academic Consultant
                                        a(href="https://www.linkedin.com/in/vivek-nallur-1b27231/", target="_blank", rel="noopener")
                                            i.fab.fa-linkedin.fa-1_25x
                                .card-back
                                    h5 Vivek Nallur
                                    p 
                                        | Dr. Vivek Nallur is an Assistant Professor at University College Dublin. He works on Ethical AI and its applications in socio-technical systems. He is a member of the IEEE P7008 standards committee for Ethically Driven Nudging for Robotic, Intelligent, and Autonomous Systems. He has worked with evolutionary computing, multi-agent systems, and machine learning for his research. He has a PhD from the University of Birmingham (UK) and a Master's from Carnegie Mellon University (US). In a previous avatar, he worked in Silicon Valley at VMware Inc.


        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center
                    .col-lg-8
                        .contact-card.col-lg-10
                            h4.text-primary.mx-4.my-3 Based on our decades of experience in building AI products, we can help you to formulate, implement, and build high-quality AI solutions specific to your business and domain
                    .col-lg-4
                        h2.mt-4.mt-lg-0 Get In Touch!
                        hr.divider.bg-secondary.mx-0
                        h6.mb-3
                            | Looking to add intelligence to your systems? 
                            hr.w-50
                            | Require customized deployment?
                        p.flex-align-content-center
                            i.fa.fa-envelope.fa-2x.sr-contact.text-primary 
                            a.mx-3.mt-2(href='mailto:sales@inscripta.ai') sales@inscripta.ai


        // Footer
        include /pug/includes/footer_new.pug

        link(rel='preload' href='/css/styles.min.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(href='/css/styles.min.css', rel='stylesheet')

        // carousel
        script(async='' src='/js/carousel.js')

        
        script(type='text/javascript' data-cfasync='false' async='').
            window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '8e43e54d-9672-416c-bcf8-370b1ad7ea9f', f: true }); done = true; } }; })();
