doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Most organizations have crucial knowledge scattered across a large number of documents, such as, technical manuals, knowledge articles, patents, policy documents, contracts and scientific publications, often in varied formats. Huge value is created by making this knowledge searchable and extracting the valuable insights therein. To this end, Inscripta’s ParseQa suite of libraries builds on the latest research in Document Processing, NLP and Search to create cutting-edge solutions that can be customized for a variety of domains and use-cases with little effort.')
        meta(name='author', content='')

        title Blog | ParseQa: Pushing the Boundaries of Knowledge Search

        // Favicon
        link(rel='icon', type='image/x-icon', href='../assets/favicon.png')

        //Font
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito Sans:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='../css/styles.min.css', rel='stylesheet')

        // Font Awesome
        link(rel='preload' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
        //link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

        // Google Tag Manager
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5XQVFGS');
        // End Google Tag Manager


    body#page-top
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5XQVFGS' height='0' width='0' style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)


        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='../index.html')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='index.html') BLOG HOME
                        li.nav-item
                            a.nav-link(href='../products/parseqa.html') ParseQa

        // Producthead
        header.simplehead 
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100
                    .col-lg-8.align-self-end    
                        h1.text-white.font-weight-bold Inscripta Blog
                    .col-lg-8.align-self-baseline.mt-4

        //Expertise
        section#expertise.page-section
            .container.px-2.px-lg-2
                .col-lg-7.col-md-8.col-sm-8.mx-auto
                    .row
                        .col-md-12
                            h1.font-weight-bold ParseQa: Pushing the Boundaries of Knowledge Search
                            .mt-3
                                .blog-author By Team Inscripta 
                                .blog-date Sep 21, 2021 · 4 min read
                            .mt-4
                                .blog-tag Natural Language Processing
                                .blog-tag AI
                                .blog-tag Knowledge Management
                                .blog-tag Search
                                .blog-tag Question Answering

                    .row
                        .col-lg-12.col-md-12.col-sm-12
                            .text-center.mt-4
                                img.blog-img.lazyload(data-src="../assets/img/products/parseqa_isometric_large.jpg")
                            .blog.blog-text
                                |Most organizations have crucial knowledge scattered across a large number of documents, such as, technical manuals, knowledge articles, patents, policy documents, contracts and scientific publications, often in varied formats. Huge value is created by making this knowledge searchable and extracting the valuable insights therein. To this end, Inscripta’s ParseQa suite of libraries builds on the latest research in Document Processing, NLP and Search to create cutting-edge solutions that can be customized for a variety of domains and use-cases with little effort.
      
                            .blog.blog-text
                                | ParseQa can be used to enhance the capabilities of a wide range of enterprise applications such as automated helpdesks, FAQ chatbots, review-insight dashboards, product discovery tools and knowledge search, and can help to leverage the true potential of heterogeneous knowledge repositories of any size. The key features of ParseQa include:
                                ul.blog.blog-text
                                    li.mt-3 Finding precise information from deep inside knowledge bases
                                    li.mt-3 Answering ad hoc questions at different levels of granularity
                                    li.mt-3 Generating relevant questions from data for automated FAQ creation
                                    li.mt-3 Easy adaptation/extension for different domains

                            br

                            .blog.h3.font-weight-bold.mt-5 Technology Pillars: Search, NLP & Document Processing

                            .text-center.mt-4
                                img.blog-img.lazyload(data-src="../assets/img/parseqa_stack.png")

                            .blog.blog-text
                                | The three technology pillars shown in the figure above, extended with refinements based on multiple deployments, differentiate ParseQa from most Knowledge Search and NLP systems in the market. ParseQa can drastically reduce the time and effort required to get to a real-world solution.

                            .blog.blog-text
                                | ParseQa’s components have been validated and battle-tested through many challenging client projects, including:
                                ul.blog-text
                                    li.mt-3 Information Extraction from journal articles
                                    li.mt-3 QA from technical manuals
                                    li.mt-3 Extraction of relevant chemical compounds from patents
                                    li.mt-3 Insights from product reviews,
                                | and many more.

                            br

                            .blog.h3.font-weight-bold.mt-5 Key Challenges Addressed by ParseQa

                            .text-center.mt-4
                                img.blog-img.lazyload(data-src="../assets/img/document_examples.png")

                            .blog.blog-text
                                | 
                                .font-weight-bold Multiple document formats and structures: 
                                | A typical knowledge base consists of a variety of documents in different formats. ParseQa recognizes formats such as PDFs, DOCX, and HTML, including sections and tables in image form. ParseQa handles diverse document structures (review blogs, journal articles, papers, patents, etc.), and can parse and segment both text and tabular elements for titles, headings, captions, etc., depending on the use case.

                            .blog.blog-text
                                | 
                                .font-weight-bold Deeper extraction of domain-specific insights: 
                                | ParseQa uses deep learning and syntactic analysis techniques to extract keywords, keyphrases, and named entities of different kinds. It performs sentiment-analysis and opinion-mining at document, snippet and aspect levels. State-of-the-art models, including BERT and its variants, are used for classification and semantic indexing of relevant sections of text.

                            .blog.blog-text
                                .font-weight-bold Conversational ease combined with fine-grained retrieval: 
                                | A good knowledge search system should enable users to simply ask for some specific detail deep inside a particular document pertaining to a specific project, instead of going through a series of steps such as collecting the project documents, selecting the correct file, and then reading through numerous pages to get the section detail you want. ParseQa makes fine-grained semantic search and retrieval possible by combining embeddings, question answering models, and relevance ranking as part of the search algorithm.

                            br

                            .blog.h3.mt-5 Get in Touch
                            .blog.blog-text
                                | Check out how ParseQa can supercharge your product — to request an assessment or to see a demo of the solutions, drop us a line at 
                                a(href="mailto:sales@inscripta.ai") sales@inscripta.ai
                                |. See 
                                a(href="../products/parseqa.html") product page
                                | for more details.




        // Footer
        footer.bg-dark.py-5.text-white
            .container.px-4.px-lg-5
                .row
                    .col-lg-4
                        img.img-logo(src="../assets/img/logo/logo-cs.png")
                .row
                    .col-lg-4
                        .small.text-muted.mt-4
                            | Copyright &copy; 2021 - Inscripta AI 
                    .col-lg-4
                        .mt-4
                            a.small.text-muted.mx-2(href='privacy')
                                | Privacy Policy
                            a.small.text-muted
                                | Terms of Service

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        // script(async='' src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='../js/scripts.js')

        // carousel
        script(async='' src='../js/carousel.js')

        script(src="../js/lazysizes.min.js")
        script(src="../js/ls.unveilhooks.min.js")

        
        script(type='text/javascript' data-cfasync='false' async='').
            window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '8e43e54d-9672-416c-bcf8-370b1ad7ea9f', f: true }); done = true; } }; })();